$link-color: #737373;
$link-color-h: #FA492B;
$nav-link: white;
//$primary-color: #F4B266;
$primary-color: #1C1C1C;
$secondary-color: #FA492B;
$section-size: 120px 0px 150px 0px;

$sTran: 2s;
$aTran: 1s;
$fTran: .5s;
$ffTran: .2s;


body {
    font-family: 'Roboto Condensed', sans-serif;
}

p,
li {
    font-size: 120%;
}

/* JqueryUI styles */

.ui-widget-header {
    border: none;
    background: none;
}

.borderB {
    border-bottom: 2px solid white;
    padding-bottom: 100px;
}

.nav {

    .container {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
    }

    li {
        list-style-type: none;
        margin: 0px 0px 0px 10px;
        overflow: hidden;
        float: left;
        transition: $aTran;

        a {
            display: block;
            color: $primary-color;
            background-color: white;
            border: 2px solid $primary-color;
            font-weight: 600;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
            transition: $fTran;
        }

        a:hover {
            background-color: white;
            color: $primary-color;
            border: 2px solid $primary-color;
            transition: $ffTran;
        }
    }

    border: 0; //background-color: $primary-color;
    border-radius: 0px;
    margin-bottom: 0;
    height: 50px;
    position: fixed;
    top: 10px;
    left: -1000px;
    transition: $sTran;
}

.navbar-fixed {
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    transition: $sTran;
}

.menu {

    .container {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
    }

    li {
        list-style-type: none;
        margin: 0px 0px 0px 10px;
        overflow: hidden;
        float: left;
        transition: $aTran;

        a {
            display: block;
            color: $nav-link;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 10px 22px;
            font-weight: 600;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
            transition: $fTran;
        }

        a:hover {
            background-color: white;
            color: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 22px 10px;
            transition: $ffTran;
        }
    }

    border: 0; //background-color: $primary-color;
    border-radius: 0px;
    margin-bottom: 0;
    height: 50px;
    position: relative;
    left: 0px;
    transition: $sTran;
}

.menu-out {
    position: relative;
    left: -200%;
    transition: $sTran;
}

a,
.ui-widget-content a {
    padding-bottom: 2px;
    border-bottom: 1px solid $link-color;
    text-decoration: none;
    color: $link-color;
    transition: $aTran;
    font-weight: 800;
}

a:hover,
.ui-widget-content a:hover {
    color: $link-color-h;
    border-bottom: 1px solid $link-color-h;
    transition: $fTran;
}

footer {
    color: white;
    padding-top: 20px;
    text-align: center;
}

footer a {
    color: $link-color;
}

select {
    color: black;
}

input {
    color: black;
}

#tabs {
    margin: 0px 0px 30px 0px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: white;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: $primary-color;
    color: white;
}

.ui-widget-header .ui-state-active a {
    color: $nav-link;
}

#web,
#software,
#fun {
    margin-top: 2em; //    border-bottom: 1px solid #494E6B;
    background-color: white;
    color: black;
}

.section-title {
    background-color: white;
    min-width: 450px;
    max-width: 30%;
    margin-bottom: 4em;
    h2 {
        color: $primary-color;
        margin: 0px 0px 10px 20px;
        padding-top: 10px;
        font-size: 50px;
        font-weight: 800;
    }
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.subtitle {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

.topic {
    text-align: center;
}

.topic img {
    width: 158px; //background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.welcome {
    margin: 3em 0px 4em 0px;
    height: 100%;
}

.work,
.contact,
.about {
    background-color: $primary-color;
    background-size: 80%;
    color: #fff;
    padding-bottom: 10em;
}

.container-about {
    padding-left: 20px;
}

.container .button-primary {
    background-color: $secondary-color;
}

.svg-inline--fa {
    display: none;
}

/* Larger than mobile */

@media (min-width: 400px) {
    .topic img {
        width: 158px;
        margin-top: 20px;
    }
}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {
    .nav {}
    .nav a {
        font-size: 1.3em;
    }
    .topic img {
        width: 128px;
    }

    .svg-inline--fa {
        display: inline;
    }

}


/* Larger than desktop */

@media (min-width: 1000px) {
    .subtitle {
        font-size: 30px;
    }
    .welcome {
        padding: $section-size;
    }
    .contact {
        padding: 50px 0px 150px 0px;
    }

    .section-title {

        h2 {
            font-size: 80px;
        }
    }

}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}

@media (max-width: 750px) {
    .col-about {
        width: 100% !important;
    }

    .gift {
        button {
            width: 100% !important;
            height: 100px !important;
        }

        .row {
            width: 100% !important;
        }
    }
}

.gift {
    p,
    h2,
    h1,
    h3,
    h4,
    a,
    footer {
        color: black !important;
    }

    .row {
        float: left !important;
        margin: 15px !important;
    }

    .title {
        float: none !important;
        text-align: center !important;
    }

    button {
        width: 200px;
        color: white !important;
        
        :hover {
            color: black !important;
            transition: .3s !important;
        }
        
        transition: .5s !important;
    }

    .row-container {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }
}
