//variables
$dg: #333333;
$tl: #00a99d;

$sm: 600px;
$md: 800px;
$lg: 1200px;

//general styles
body {
  margin: 0px;
}

//typography

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
}

a {
  color: $tl;
  font-weight: 800;
}

#header p, h2, h5 {
    color: white;
    text-align: center;
}

    //section title
#work h1 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 80px;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    justify-content: center;
    display: flex;
    align-items: center;
}

//NAV

.nav-item a {
  text-transform: uppercase;
  font-weight: 200;
}

.navbar-brand {
  background-color: $tl;
  margin-top: -1em;
  color: white;
  padding: 15px 20px;
  border-radius: 0px 0px 5px 5px;
}

//Top Section

.intro {
  background-color: $dg;
}

#header {
    margin: 80px auto 0px auto;
    padding-bottom: 100px;
}

#header p {
    margin-top: 40px;
}

//WORK SECTION
#work {
    height: auto;

    h2, h5 {
        color: $dg;
    }

    h5 {
        font-weight: 200;
    }

    .content-block {
        color: $dg;
    }

    .title-block {
        background-color: $tl;
    }

    .work-item {
        padding-top: 40px;

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .work-tech {
            text-align: center;
            width: 100%;
            margin-top: 40px;
        }
    }
}

//FOOTER
footer {
    background-color: $dg;
    padding: 10px;

    a {
        color: white;
        font-size: 18px;
    }

    .footer-content {
        padding: 10px;
        text-align: center;
        color: white;
    }
}
