//variables
$dk: #2c3e50;
$lt: #ecf0f1;
$pm: #e74c3c;
$sd: #3498db;
$sm: 600px;
$md: 800px;
$lg: 1200px;
//general styles
body {
  background-color: $lt;
  margin: 0;
}

.hide {
  display: none;
}

//typography
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

p,
a {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 20px;
}

a {
  color: $pm;
  font-weight: 800;
  transition: .5s;
  &:hover {
    transition: .5s;
    color: $sd;
  }
}

#header p,
h2,
h5 {
  color: $dk;
  text-align: center;
}

//section title
#work {}

//NAV
.nav-item a {
  text-transform: uppercase;
  font-weight: 200;
}

.navbar-brand {
  background-color: $pm;
  margin-top: -1em;
  color: white;
  padding: 15px 20px;
  border-radius: 0px 0px 5px 5px;
}

//Top Section
.intro {
  background-color: $lt;
}

#header {
  margin: 80px auto 0px auto;
  padding-bottom: 100px;
}

#header p {
  margin-top: 40px;
}

//WORK SECTION
#work {
  height: 110vh;
  h1 {
    color: white;
    font-weight: 800;
    font-size: 80px;
  }
  h2,
  h5 {
    color: $lt;
  }
  h5 {
    font-weight: 200;
  }
  .content-block {
    color: $lt;
    background-color: $sd;
  }
  .title-block {
    background-color: $pm;
    display: flex;
    align-items: center;
    -webkit-flex-direction: column;
   flex-direction: column;
    justify-content: center;
  }
  .bullet-btn {
    margin-right: 10px;
    float: left;
    padding: 10px;
    background-color: white;
    
    &.selected {
      background-color: $sd;
    }
  }
  .work-item {
    padding-top: 40px;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    .work-tech {
      text-align: center;
      width: 100%;
      margin-top: 40px;
    }
  }
}

//Form
label {
  color: $dk;
}

.btn-primary {
  background-color: $pm;
  border-color: $pm;
}

#contact-form {
  margin: 20px auto;
}

//WORK
.work-title {
  height: 600px;
  background-color: $pm;
}

//FOOTER
footer {
  background-color: $lt;
  padding: 10px;
  width: 100%;
  a {
    color: $dk;
    font-size: 18px;
  }
  .footer-content {
    padding: 10px;
    text-align: center;
    color: white;
  }
}
