body {
  background-color: #ecf0f1;
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif; }

p,
a {
  font-family: 'Lato', sans-serif; }

p {
  font-size: 20px; }

a {
  color: #e74c3c;
  font-weight: 800;
  transition: .5s; }
  a:hover {
    transition: .5s;
    color: #3498db; }

#header p,
h2,
h5 {
  color: #2c3e50;
  text-align: center; }

#work h1 {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 80px;
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  justify-content: center;
  display: flex;
  align-items: center; }

.nav-item a {
  text-transform: uppercase;
  font-weight: 200; }

.navbar-brand {
  background-color: #e74c3c;
  margin-top: -1em;
  color: white;
  padding: 15px 20px;
  border-radius: 0px 0px 5px 5px; }

.intro {
  background-color: #ecf0f1; }

#header {
  margin: 80px auto 0px auto;
  padding-bottom: 100px; }

#header p {
  margin-top: 40px; }

#work {
  height: auto; }
  #work h2,
  #work h5 {
    color: #ecf0f1; }
  #work h5 {
    font-weight: 200; }
  #work .content-block {
    color: #ecf0f1;
    background-color: #3498db; }
  #work .title-block {
    background-color: #e74c3c; }
  #work .work-item {
    padding-top: 40px; }
    #work .work-item img {
      width: 100%;
      margin-bottom: 20px; }
    #work .work-item .work-tech {
      text-align: center;
      width: 100%;
      margin-top: 40px; }

label {
  color: #2c3e50; }

.btn-primary {
  background-color: #e74c3c;
  border-color: #e74c3c; }

#contact-form {
  margin: 20px auto; }

.work-title {
  height: 600px;
  background-color: #e74c3c; }

footer {
  background-color: #ecf0f1;
  padding: 10px;
  width: 100%; }
  footer a {
    color: #2c3e50;
    font-size: 18px; }
  footer .footer-content {
    padding: 10px;
    text-align: center;
    color: white; }
