/* Full screen, no border */
body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}

/* General styles to alter a single thing */
.center{
  text-align: center;
}

.italics{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

@font-face {
    font-family: 'candalregular';
    src: url('candal-webfont.eot');
    src: url('candal-webfont.eot?#iefix') format('embedded-opentype'),
         url('candal-webfont.woff2') format('woff2'),
         url('candal-webfont.woff') format('woff'),
         url('candal-webfont.ttf') format('truetype'),
         url('candal-webfont.svg#candalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'senregular';
    src: url('sen-regular-webfont.eot');
    src: url('sen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sen-regular-webfont.woff2') format('woff2'),
         url('sen-regular-webfont.woff') format('woff'),
         url('sen-regular-webfont.ttf') format('truetype'),
         url('sen-regular-webfont.svg#senregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'senbold';
    src: url('sen-bold-webfont.eot');
    src: url('sen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sen-bold-webfont.woff2') format('woff2'),
         url('sen-bold-webfont.woff') format('woff'),
         url('sen-bold-webfont.ttf') format('truetype'),
         url('sen-bold-webfont.svg#senbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'senextrabold';
    src: url('sen-extrabold-webfont.eot');
    src: url('sen-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sen-extrabold-webfont.woff2') format('woff2'),
         url('sen-extrabold-webfont.woff') format('woff'),
         url('sen-extrabold-webfont.ttf') format('truetype'),
         url('sen-extrabold-webfont.svg#senextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Title text */
h1 {
  margin: 20px 0px 20px 0px;
  font-family: candalregular;
  font-size: 75px;
  font-weight: bold;
  color: rgb(40, 70, 101);
}

/* Body text */
h2 {
  font-family: senregular;
  font-size: 25px;
  line-height: 40px;
  font-style: normal;
  font-weight: lighter;
  color: rgb(119, 128, 136);
}

h3{
  margin: 0;
  font-family: senregular;
}
/* Body link, adds emphasis */
h2 a{
  color: rgb(100, 100, 100);
}

.tiny{
  font-size: 5px;
  color: rgb (100,100,100);
  text-decoration: none;
  display: block;
}

/* Link styles */
a{color: rgb(100,100,100); font-weight: bold; text-decoration: none; border-bottom: 1px solid gray; transition: 1s;}
a::before{}
a:hover{color: rgb(69, 69, 69); border-bottom: 15px solid gray; transition: 1s;}
a::after{color: rgb(100, 100, 100);}

/* Background-color divs, just for changing one aspect of a div */
.red {
  background-color: rgb(217, 74, 74);
}

.orange {
  background-color: rgb(252, 167, 78);
}

.purple {
  background-color: rgb(120, 68, 204);
}

.blue {
  background-color: rgb(13, 84, 142);
}

.egg{
  background-color: rgb(245,245,245);
}

.gold{
  background-color: rgb(252, 230, 82);
}

nav{
  padding-left: 10px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.menuSlice{
  float: left;
  margin-left: 30px;
  background-color: rgb(245, 245, 245);

  color: rgb(245,245,245);
}

footer{
  height: 120px;
  width: 100%;
  background-color: rgb(70,70,70);
}

footer h3, footer a, footer a:hover{
  color: rgb(70,70,70);
  font-size: 5px;
  text-decoration: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

.icon {
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.icon img{
  margin: auto;
  padding: 15px;
  width: 64px;
  height: 64px;
}

/* Large header section*/
#landing {
  width: 100%;
  height: 870px;
  background-color: rgb(245, 245, 245);
}

/* centered block with space on top */
#landingText {
  padding-top: 150px;
  width: 60%;
  margin: auto;
}

/* General content box */
.section {
  width: 100%;
  height: 600px;
}

.sectionImg {
  width: 100%;
}

.sectionImg img {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Link to specific project */
.projectLink{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;

  border: 3px solid white;
}

.projectLink a{
 color: white;
 padding: 5px;
 border-bottom: none;
 border-left: 3px solid white;
 border-right: 3px solid white;
 transition: 1s;
}

.projectLink a:hover{
  border-left: 62px solid white;
  border-right: 62px solid white;
  transition: 1s;
}

/* Three image full-width layout */
.triImage{
  width: 100%;
  height: auto;
}

.triImage img{
  float: left;
  width: 33.333%;
  height: auto;
}

.inspection{
  width: 100%;
  height: 100%;
}

/* Different screen size styles */
@media screen and (max-width: 900px) and (min-width: 481px){

  #landing{
      height: 85%;
  }

  #landingText{
    padding-top: 50px;
    width: 70%;
    font-size: 10%;
  }
}

@media screen and (max-width: 480px) and (min-width: 10px){

  h1{
    font-size: 2em;
  }

  h2{}

  h3{
    font-size
  }
  #landing{
    height: 85%;
  }

  #landingText{
    padding-top: 50px;
    width: 70%;
  }

  #landingText h1, #landingText h2{

  }

  .section{
    height: 600px;
  }

}
