body {
  margin: 0 auto;
  font-family: sans-serif;
}

.clearfix {
  overflow: auto;
}

header {
  margin: 0 auto;
  background-color: rgb(138, 96, 156);
  width: 100%;
  height: auto;
}

.logo img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 275px;
}

.logo{
  display: block;
  float: left;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 40%;
  margin: auto;
}

.menuBox{
  float: left;
  height: 100%;
  width: 30%;
  line-height: 100px;
}

nav {
  float: left;
  background-color: red;
  width: 20%;
}


#menuSliceActive {}
.menuSliceL {

  width: 100%;
  margin: 0 auto;
  height: auto;
  float:left;

  box-sizing: border-box;
  padding: 5px 5px 5px 5px;

  color: white;
  text-align: center;
}

footer {}
